{% extends "base.html" %}

{% block content %}
<h2>New Post</h2>

<form action="/users/{{ user_id }}/posts/new" method="post">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <textarea id="content" name="content" class="form-control" rows="5" required></textarea>
    </div>

    <fieldset>
        <legend>Tags:</legend>
        {% for tag in tags %}
        <div>
            <label>
                <input type="checkbox" name="tags" value="{{ tag.id }}">
                {{ tag.name }}
            </label>
        </div>
        {% endfor %}
    </fieldset>

    <button type="submit" class="btn btn-primary">Add Post</button>
</form>
{% endblock %}