/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* General Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
nav {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
}

/* Form Styles */
form {
  background-color: white;
  padding: 20px;
  /* margin: 20px; */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 90px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

button:disabled {
  background-color: #324e38;
}

/* Error Message Styles */
p {
  color: red;
}

/* Link Styles */
.link-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
}

.link-button:hover {
  text-decoration: underline;
}

/* List Styles */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.list-info {
  color: #f4f4f4;
}

/* Loading Styles */
.loading {
  text-align: center;
  padding: 50px 0;
}

/* Responsive Layouts */
@media (max-width: 600px) {

  nav,
  form {
    flex-direction: column;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: calc(100% - 20px);
  }
}